.jumbotron {
  color: white;
  background: #337ab7;;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
}

header {
  color: white;
}

body {
  text-align: center;
}

div {
  align-items: center;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  justify-content: left;
  overflow-wrap: normal;
}

.btn-block {
  display: flex;
  justify-content: center;
}

.btn-default {
  white-space: normal;
}

.logged-in {
    background: gainsboro url("/static/img/CCTVMobile.pgn") no-repeat center 80px;
}
.logged-out {
    background: gainsboro url("/static/img/WhatAreYouLookingAt.jpg") no-repeat center 30px;
    background-size: 90%;
}
.pull-right {
    float:right;
}
